src/sylvan/
src/dd-0.5.7/
src/assignedGraphs/*
**/bdd_venv/
**/mkplot/bbd_1/
**/mkplot/pdfs/
**/mkplot/mip/
**/mip.pdf
**/mkplot/json_folder/
*.out
**/mkplot/mip/
**/mkplot/bdd_1/*
**/json_folder/
**/pdfs/
**/venv/
**/bdd_venv/
**/pyeda/
**/out/*
!**/out/mip/
!**/out/mytest2/
!**/.gitkeep
**/dd/
**/__pycache__/
**/dd*/**
dd-*
**/.DS_Store
src/mkplot/bbd_1/plotWithDemand5.json
src/mkplot/bbd_1/plotWithDemand10.json
src/mkplot/bbd_1/plotWithDemand15.json
src/mkplot/bbd_1/plotWithDemand20.json
src/mkplot/mip.pdf
**/csv-data/*
**/src/analyse/
**/src/analyse/
**/reducedDrawnGraphs
*.tar
src/mkplot/fancy_scatter_plots