**/bdd_venv/
**/mkplot/bbd_1/
**/mkplot/pdfs/
**/mkplot/mip/
**/mip.pdf
**/mkplot/json_folder/
*.out
**/venv/
**/bdd_venv/
**/pyeda/
**/out/*
!**/.gitkeep
**/dd/
**/__pycache__/
**/dd*/**
dd-*
**/.DS_Store
